body {
    margin: 0;
}

nav {
    background-color: mediumseagreen;
}

.navbar-brand {
    font-size: 2rem;
    
}

.nav-item {
    margin: 10px;
    font-size: 1.2rem;
}

#main-body img {
    margin-bottom: 20px ;
}

#main-body a {
    text-decoration: none;
    color: black;
}

#main-body a:hover {
    
    color:chocolate;
}

#main-body .question {
    margin-top: 10px;
      border-radius: 100%;
      height: 150px;
      
}

.jumbotron-fluid {
    margin-bottom: 0; 
}

#bottom {
    background-color: mediumseagreen;
    padding: 2.5% 10% ;
    text-align: center;
}

#bottom a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 7%;
    margin-right: 7%;
}

#bottom a:hover {
    color: rgb(152, 228, 224);
}